

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.videoClip{
	height:50%;

}

.top{
	height:200px;

}

.startButton{
	float:right;
}

input[type="radio"] {
  margin-right: 10px;
  
}




